.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f9d8f3cf;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__fpw9 {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: K92s1Nhfz2Db */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__fpw9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fpw9 > :global(.__wab_flex-container) > *,
.freeBox__fpw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpw9 > :global(.__wab_flex-container) > picture > img,
.freeBox__fpw9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpw9 {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: K92s1Nhfz2Db */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpw9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fpw9 > :global(.__wab_flex-container) > *,
  .freeBox__fpw9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fpw9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fpw9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__iVmR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__iVmR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iVmR > :global(.__wab_flex-container) > *,
.freeBox__iVmR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iVmR > :global(.__wab_flex-container) > picture > img,
.freeBox__iVmR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iVmR {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iVmR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iVmR > :global(.__wab_flex-container) > *,
  .freeBox__iVmR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iVmR > :global(.__wab_flex-container) > picture > img,
  .freeBox__iVmR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___5J0Vl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__wgQcr {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wgQcr {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text___9W6OA {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: #338cf5;
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9W6OA {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__tpmiU {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tpmiU {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__rApKa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  background: #338cf545;
  min-width: 0;
  border: 2px solid #ff22e0;
}
.img__iB8K2 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__iB8K2 > picture > img {
  object-fit: cover;
}
.img__iB8K2 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gp2UN {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem 0rem;
}
.img__gp2UN > picture > img {
  object-fit: cover;
}
.img__gp2UN > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__tzf3E {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem 0rem;
}
.img__tzf3E > picture > img {
  object-fit: cover;
}
.img__tzf3E > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cgAze {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem 0rem;
}
.img__cgAze > picture > img {
  object-fit: cover;
}
.img__cgAze > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___3LNO {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img___3LNO > picture > img {
  object-fit: cover;
}
.img___3LNO > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ceFRz {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__ceFRz > picture > img {
  object-fit: cover;
}
.img__ceFRz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ay93M {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__ay93M > picture > img {
  object-fit: cover;
}
.img__ay93M > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__mgUrc {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__mgUrc > picture > img {
  object-fit: cover;
}
.img__mgUrc > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__dElta {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__dElta > picture > img {
  object-fit: cover;
}
.img__dElta > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uvQtv {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__uvQtv > picture > img {
  object-fit: cover;
}
.img__uvQtv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nmig5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__nmig5 > picture > img {
  object-fit: cover;
}
.img__nmig5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yiRa {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__yiRa > picture > img {
  object-fit: cover;
}
.img__yiRa > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uUyOz {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__uUyOz > picture > img {
  object-fit: cover;
}
.img__uUyOz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__vfCeM {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__vfCeM > picture > img {
  object-fit: cover;
}
.img__vfCeM > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__sLiOj {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__sLiOj > picture > img {
  object-fit: cover;
}
.img__sLiOj > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__iVbbt {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__iVbbt > picture > img {
  object-fit: cover;
}
.img__iVbbt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hJkZe {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__hJkZe > picture > img {
  object-fit: cover;
}
.img__hJkZe > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__w5C8H {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__w5C8H > picture > img {
  object-fit: cover;
}
.img__w5C8H > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ixApn {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__ixApn > picture > img {
  object-fit: cover;
}
.img__ixApn > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__zvWkz {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2rem 0rem;
}
.img__zvWkz > picture > img {
  object-fit: cover;
}
.img__zvWkz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__va5Ih {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__va5Ih > picture > img {
  object-fit: cover;
}
.img__va5Ih > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
