.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__jkBtu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jkBtu {
    width: 100%;
  }
}
.plan__yNiLp:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__g7E1 {
  font-size: 48px;
}
.freeBox___8Oqjw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___8Oqjw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8Oqjw > :global(.__wab_flex-container) > *,
.freeBox___8Oqjw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Oqjw > :global(.__wab_flex-container) > picture > img,
.freeBox___8Oqjw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__fuUdU:global(.__wab_instance) {
  position: relative;
}
.bullet__zlnrH:global(.__wab_instance) {
  position: relative;
}
.bullet__kDnH:global(.__wab_instance) {
  position: relative;
}
.button__si6FG:global(.__wab_instance) {
  position: relative;
}
.svg___6SRw6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1HJHh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___1PyG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___1PyG {
    width: 100%;
  }
}
.plan__g8Elw:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__htuC2 {
  font-size: 48px;
}
.freeBox__etAb2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__etAb2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__etAb2 > :global(.__wab_flex-container) > *,
.freeBox__etAb2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__etAb2 > :global(.__wab_flex-container) > picture > img,
.freeBox__etAb2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__fwRe7:global(.__wab_instance) {
  position: relative;
}
.bullet__mugny:global(.__wab_instance) {
  position: relative;
}
.bullet___6ZxE9:global(.__wab_instance) {
  position: relative;
}
.bullet__c68Vi:global(.__wab_instance) {
  position: relative;
}
.button__v3SJa:global(.__wab_instance) {
  position: relative;
}
.svg__qmK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__o0DlB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__bnnt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__bnnt4 {
    width: 100%;
  }
}
.plan__rvDC:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__xvWN {
  font-size: 48px;
}
.freeBox___6AEhA {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___6AEhA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6AEhA > :global(.__wab_flex-container) > *,
.freeBox___6AEhA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6AEhA > :global(.__wab_flex-container) > picture > img,
.freeBox___6AEhA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__sinWm:global(.__wab_instance) {
  position: relative;
}
.bullet__lyUrB:global(.__wab_instance) {
  position: relative;
}
.bullet__r1Sd:global(.__wab_instance) {
  position: relative;
}
.button__d4Gr:global(.__wab_instance) {
  position: relative;
}
.svg__ms8St {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___56O2V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__xvtlV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xvtlV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xvtlV > :global(.__wab_flex-container) > *,
.freeBox__xvtlV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xvtlV > :global(.__wab_flex-container) > picture > img,
.freeBox__xvtlV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__vOguU:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__oqXd4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
